.header-bg {
    background-color: #18a3cf;
    color: white;
    text-align: center;
}

.supplier-bg {
    background-color: #18a3cf;
    color: white;
    text-align: left;
}

.table tbody th {
    padding-left: 3rem !important;
}
