@{
	ViewData["Title"] = "Join";
}

<section class="app app-signup p-0">
	<div class="row g-0 app-auth-wrapper">
		<div class="col-12 col-md-7 col-lg-6 auth-main-col text-center p-5">
			<div class="d-flex flex-column align-content-end">
				<div class="app-auth-body mx-auto">
					<div class="app-auth-branding mb-4"><a class="app-logo"><img class="logo-icon me-2"
								src="~/images/app-logo.svg" alt="logo"></a></div>
					<h2 class="auth-heading text-center mb-4">Sign up to Portal</h2>

					<div class="auth-form-container text-start mx-auto">
						<form class="auth-form auth-signup-form" id="registerForm">
							<div class="email mb-3">
								<label class="sr-only" for="customerName">Customer Name</label>
								<input id="customerName" name="customer-name" type="text"
									class="form-control signup-name" placeholder="Customer name" required="required">
							</div>
							<div class="email mb-3">
								<label class="sr-only" for="email">Your Email</label>
								<input id="email" name="signup-email" type="email" class="form-control signup-email"
									placeholder="Email" required="required">
							</div>
							<div class="password mb-3">
								<label class="sr-only" for="password">Password</label>
								<input id="password" name="password" type="password"
									class="form-control signup-password" placeholder="Enter a password"
									required="required">
							</div>
							<div class="password mb-3">
								<label class="sr-only" for="confirmPassword">Confirm Password</label>
								<input id="confirmPassword" name="confirm-password" type="password"
									class="form-control signup-password" placeholder="Confrim password"
									required="required">
							</div>
							<div class="email mb-3">
								<label class="sr-only" for="companyName">Company Name</label>
								<input id="companyName" name="company-name" type="text" class="form-control signup-name"
									placeholder="Company name" required="required">
							</div>
							<div class="email mb-3">
								<label class="sr-only" for="contractNumber">Contact Number</label>
								<input id="contractNumber" name="contract-number" type="text"
									class="form-control signup-name" placeholder="Contract Number" required="required">
							</div>

							<div class="text-center">
								<button type="submit" class="btn app-btn-primary w-100 theme-btn mx-auto">Sign
									Up</button>
							</div>
						</form>
						<!--//auth-form-->

						<div class="auth-option text-center pt-5">Already have an account? <a class="text-link"
								asp-action="login" asp-controller="account">Log in</a></div>
					</div>
					<!--//auth-form-container-->



				</div>
				<!--//auth-body-->

			</div>
			<!--//flex-column-->
		</div>
		<!--//auth-main-col-->
		<div class="col-12 col-md-5 col-lg-6 h-100 auth-background-col">
			<div class="auth-background-holder">
			</div>
			<div class="auth-background-mask"></div>
			<div class="auth-background-overlay p-3 p-lg-5">
				<div class="d-flex flex-column align-content-end h-100">
					<div class="h-100"></div>
				</div>
			</div>
			<!--//auth-background-overlay-->
		</div>
		<!--//auth-background-col-->

	</div>
	<!--//row-->
</section>


<script>
	var registerUrl = '@Url.Action("Register", "Account")';
</script>