<div class="col-12">
    <div class="row pt-3">
        <div class="col-12">
            1. When was the first programming language invented?
        </div>
    </div>
    <div class="row pt-2">
        <div class="form-check col-3">
            <input class="form-check-input" name="q1" type="radio" id="q1Option1" value="1">
            <label class="form-check-label" for="q1Option1">
                1943-1945
            </label>
        </div>
        <div class="form-check col-3">
            <input class="form-check-input" name="q1" type="radio" id="q1Option2" value="2">
            <label class="form-check-label" for="q1Option2">
                1950-1951
            </label>
        </div>
        <div class="form-check col-3">
            <input class="form-check-input" name="q1" type="radio" id="q1Option3" value="3">
            <label class="form-check-label" for="q1Option3">
                1937-1944
            </label>
        </div>
        <div class="form-check col-3">
            <input class="form-check-input" name="q1" type="radio" id="q1Option4" value="4">
            <label class="form-check-label" for="q1Option4">
                1978-1985
            </label>
        </div>
    </div>

    <div class="row pt-3">
        <div class="col-12">
            2. Who was the first programming language inventor?
        </div>
    </div>
    <div class="row pt-2">
        <div class="form-check col-3">
            <input class="form-check-input" name="q2" type="radio" id="q2Option1" value="1">
            <label class="form-check-label" for="q2Option1">
                Alan Coope
            </label>
        </div>
        <div class="form-check col-3">
            <input class="form-check-input" name="q2" type="radio" id="q2Option2" value="2">
            <label class="form-check-label" for="q2Option2">
                Arthur Whitney
            </label>
        </div>
        <div class="form-check col-3">
            <input class="form-check-input" name="q2" type="radio" id="q2Option3" value="3">
            <label class="form-check-label" for="q2Option3">
                Douglas McIlroy
            </label>
        </div>
        <div class="form-check col-3">
            <input class="form-check-input" name="q2" type="radio" id="q2Option4" value="4">
            <label class="form-check-label" for="q2Option4">
                Konrad Zuse
            </label>
        </div>
    </div>


    <div class="row pt-3">
        <div class="col-12">
            3. Who developed  C++?
        </div>
    </div>
    <div class="row pt-2">
        <div class="form-check col-3">
            <input class="form-check-input" name="q3" type="radio" id="q3Option1" value="1">
            <label class="form-check-label" for="q3Option1">
                Dennis Ritchie
            </label>
        </div>
        <div class="form-check col-3">
            <input class="form-check-input" name="q3" type="radio" id="q3Option2" value="2">
            <label class="form-check-label" for="q3Option2">
                Bjarne Stroustrup
            </label>
        </div>
        <div class="form-check col-3">
            <input class="form-check-input" name="q3" type="radio" id="q3Option3" value="3">
            <label class="form-check-label" for="q3Option3">
                Guido van Rossum
            </label>
        </div>
        <div class="form-check col-3">
            <input class="form-check-input" name="q3" type="radio" id="q3Option4" value="4">
            <label class="form-check-label" for="q3Option4">
                James Gosling
            </label>
        </div>
    </div>

    <div class="row pt-3">
        <div class="col-12">
            3. Who developed  Java?
        </div>
    </div>
    <div class="row pt-2">
        <div class="form-check col-3">
            <input class="form-check-input" name="q4" type="radio" id="q4Option1" value="1">
            <label class="form-check-label" for="q4Option1">
                Dennis Ritchie
            </label>
        </div>
        <div class="form-check col-3">
            <input class="form-check-input" name="q4" type="radio" id="q4Option2" value="2">
            <label class="form-check-label" for="q4Option2">
                Bjarne Stroustrup
            </label>
        </div>
        <div class="form-check col-3">
            <input class="form-check-input" name="q4" type="radio" id="q4Option3" value="3">
            <label class="form-check-label" for="q4Option3">
                Guido van Rossum
            </label>
        </div>
        <div class="form-check col-3">
            <input class="form-check-input" name="q4" type="radio" id="q4Option4" value="4">
            <label class="form-check-label" for="q4Option4">
                James Gosling
            </label>
        </div>
    </div>

    <div class="row pt-3">
        <div class="col-12">
            3. Who developed  Python?
        </div>
    </div>
    <div class="row pt-2">
        <div class="form-check col-3">
            <input class="form-check-input" name="q5" type="radio" id="q5Option1" value="1">
            <label class="form-check-label" for="q5Option1">
                Dennis Ritchie
            </label>
        </div>
        <div class="form-check col-3">
            <input class="form-check-input" name="q5" type="radio" id="q5Option2" value="2">
            <label class="form-check-label" for="q5Option2">
                Bjarne Stroustrup
            </label>
        </div>
        <div class="form-check col-3">
            <input class="form-check-input" name="q5" type="radio" id="q5Option3" value="3">
            <label class="form-check-label" for="q5Option3">
                Guido van Rossum
            </label>
        </div>
        <div class="form-check col-3">
            <input class="form-check-input" name="q5" type="radio" id="q5Option4" value="4">
            <label class="form-check-label" for="q5Option4">
                James Gosling
            </label>
        </div>
    </div>

</div>

<div class="col-12 mt-4 text-center pb-2">
    <button type="button" class="btn btn-primary" id="submiStaticPaper" style="width: 25%;">Submit</button>
</div>