.header-bg {
  background-color: #081621;
  color: white;
  text-align: center;
}

.supplier-bg {
  background-color: #081621;
  color: white;
  text-align: left;
}

.table tbody th {
  padding-left: 3rem !important;
}
